<h2>All Pets</h2>

<div class="page-template-2">
  <section class="container-rows-wrap">
  <% @pets.each do |pet| %>
    <section class="container-columns">
      <section id="pet-links-<%= pet.id %>" class="btn-cont-row" >
        <%= link_to "edit", "/pets/#{pet.id}/edit", class: "btn-1" %>
        <%= link_to "delete", "/pets/#{pet.id}", method: :delete, class: "btn-1" %>
      </section>
      <%= render partial: 'shared/petcard', 
          locals: {
                    shelter: {
                      id: pet.shelter.id,
                      url_show: "/shelters/#{pet.shelter.id}",
                      name: pet.shelter.name,
                      city: pet.shelter.city
                    },
                    pet: {
                      id: pet.id,
                      image: pet.image,
                      name: pet.name,
                      age: pet.approximate_age,
                      sex: pet.sex,
                    }
                  }
      %>
    </section>
  <% end %>
  </section>
<div>
