// globals

body {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@include font-title;
	margin: 0;
	color: $color-font;
}

p {
	@include font-body;
	color: $color-font;
	margin: 0;
}

.btn-1,
.btn-2 {
	border: 0;
	margin-top: 1rem;
	margin-right: 0.5rem;
	padding: 0.5rem 1.2rem;
	background-color: $color-background-dark;
	border: 1px solid $color-background-dark;
	color: $color-font-white;
	font-size: 1rem;
	font-family: "Roboto Slab", serif;
	text-decoration: none;
	cursor: pointer;
}

.btn-2 {
	border: 2px solid $color-background-dark;
	background-color: $color-background-light;
	color: $color-background-dark;
}

.material-icons {
	color: $color-font-very-light;
	transition: 0.2s ease-in-out;
	&:hover {
		cursor: pointer;
		color: $color-background-dark;
	}
}
