// variables

$content-width: 90%;
$max-width: 1800px;
$margin-1: 1rem;
$p-indent: 1.5rem;
$color-border: rgb(199, 199, 199);
$color-shadow: rgba(70, 70, 70, 0.61);

$color-font: rgb(49, 49, 49);
$color-font-light: rgb(82, 82, 82);
$color-font-very-light: rgb(146, 146, 146);
$color-font-white: white;

$color-accent: rgb(129, 236, 213);
$color-accent-2: pink;
$color-background-dark: rgb(60, 73, 83);
$color-background-light: rgb(255, 255, 255);
