<section class="page-template-1">
  <header class="page-header">
    <div class="content">
      <div>
        <h1>Adopt Dont Shop</h2>
        <p>
          Sort through hundreds of humane shelters for the perfect pup who is just right for you.
        </p>
      </div>
      <section class="btn-container">
        <%= link_to 'View Shelters', "/shelters", class: "btn-1"  %>
        <%= link_to 'View Pets', "/pets", class: "btn-2"  %>
      </section>
    </div>
    <div class="screen">    
      <img src="https://pixabay.com/get/54e7d7444a51a914ea9d8579c22e317c173ec3e456567749752c7bd391/rhodesian-ridgeback-2727035.jpg" />
      <div class="screen-white"></div>
    </div>
  </header>

  <main class=page-content>
  <section class="featured-pets">
    <h2 class="section-header white">New Arrivals</h2>
    <section id="welcome-index-pets" class="pets-new-arrivals">
      <% @pets.first(3).each do |pet| %>
      <%= render partial: 'shared/petcard', 
          locals: {
                    shelter: {
                      id: pet.shelter.id,
                      url_show: "/shelters/#{pet.shelter.id}",
                      name: pet.shelter.name,
                      city: pet.shelter.city
                    },
                    pet: {
                      id: pet.id,
                      image: pet.image,
                      name: pet.name,
                      age: pet.approximate_age,
                      sex: pet.sex,
                    }
                  }
      %>
      <% end %>
    </section>
  </section>

  <section class="featured-shelters">
    <h2 class="section-header">Popular Shelters</h2>
    <section id="welcome-index-shelters" class="content-1">
      <% @shelters.first(4).each do |shelter| %>
        <%= render partial: 'shared/sheltercard',
          locals: {
            shelter: {
              id: shelter.id,
              name: shelter.name,
              # phrase: shelter.phrase,
              # description: shelter.description,ß
              address: shelter.address,
              city: shelter.city,
              state: shelter.state,
              zip: shelter.zip
            }
          }
        %>
      <% end %>
    </section>
  </section>
</main>

  <aside class="our-mission">
    <h1 class="section-header header-lg">Our Mission</h1>
    <section class="content">
      <article class="instruction-block">
        <h3>No More Puppy Mills</h3>
        <p>
          We are against the practice of rapidly breeding dogs for sale. Our shelters consist of pups, 
          young and old, who are looking for a home and a second chance. They are previously abandoned, 
          abused, and forgotten. But with your help, they can have another chance of finding a new loving home.
        </p>
      </article>
      <article class="instruction-block">
        <h3>1.) Find</h3>
        <p>
          Sort through thousands of wonderful pets. See their photo, read about them, and when you're ready
          apply to adopt them.
        </p>
      </article>
      <article class="instruction-block">
        <h3>2.) Adopt</h3>
        <p>
          The adoption process is simple and straightforward. Just fill out a form, answer a few questions,
          and your application will be added to the pool.
        </p>
      </article>
      <article class="instruction-block">
        <h3>3.) Love</h3>
        <p>
          Once your adoption goes through you will be notified and a pick-up date will be scheduled
          to pick up the newest member of your family!
        </p>
      </article>
    </section>
  </aside>
</section>