@import "./main.scss";

.primary-navbar {
	position: fixed;
	z-index: 3;
	display: flex;
	align-items: center;
	height: auto;
	width: 100vw;
	background-color: $color-background-dark;
	.navbar-content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
		width: $content-width;
		z-index: 2;
	}
	.header-logo {
		margin: 0;
		padding: 0.5rem 0 0.35rem 0;
		font-size: 25px;
		color: $color-font-white;
		cursor: default;
	}
	.header-aside {
		margin-top: auto;
		display: flex;
		flex-direction: row-reverse;
		height: 100%;
		border: 1px solid red;
		p,
		a {
			color: $color-font-white;
		}
		span {
			font-weight: 500;
		}
	}
	.header-username {
		color: $color-accent;
	}
	a {
		margin: 0 1rem;
		text-decoration: none;
		align-self: end;
		color: $color-font-white;
		font-size: 18px;
		font-family: "Roboto Slab", serif;
		&:hover {
			text-decoration: underline;
			text-decoration-color: $color-accent;
		}
	}
}
